.root {
    -fx-background-color: #FFFFFF;
    -fx-font-family: Helvetica, Arial, sans-serif;

    /* Сюда прописать разрешение экрана */
    -fx-min-width: 1280;
    -fx-min-height: 720;
}
.table-view:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.drink {
    -fx-padding: 25px 50px 25px 50px;
    -fx-border-color: #1852af;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-color: transparent;

    -fx-font-size: 3em; /* 12 */
    -fx-text-fill: #1852af;

}

.drink-active {
    -fx-padding: 25px 50px 25px 50px;
    -fx-border-color: #1852af;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-color: #1852af;
    -fx-background-radius: 20px;

    -fx-font-size: 3em; /* 12 */
    -fx-text-fill: #FFF !important;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
}

.header {
    -fx-font-size: 4em;
    -fx-text-alignment: center;
    -fx-text-fill: #1852af;
    -fx-min-height: 200px;
    -fx-max-width: Infinity;
    -fx-alignment: center;
    -fx-font-style: italic;
}


.drink-number {
    -fx-min-width: 50px;
    -fx-text-fill: inherit;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-color: #1852af;
    -fx-border-radius: 25px;
}
.drink-active .drink-number {
    -fx-border-color: #FFF !important;
}

.drink-label {
    -fx-text-fill: inherit;
    -fx-padding: 50px;
}

.drink-price {
    -fx-text-fill: inherit;
    -fx-text-alignment: right;
    -fx-font-weight: bold;
}

.default-text {
    -fx-font-size: 3em;
    -fx-text-fill: #1852af;
}

.form-label {
    -fx-font-size: 3em;
    -fx-text-fill: #1852af;
    -fx-min-width: 200px;
}

.login-form-field {
    -fx-font-size: 3em;
    -fx-text-fill: #1852af;
}

.login-form-cell {
    -fx-padding: 25px;
    -fx-min-width: 700px;
}

.drink-name-field {
    -fx-text-fill: #1852af;
}

.drink-price-field {
    -fx-max-width: 150px;
    -fx-text-fill: #1852af;
}

.control-button {
    -fx-padding: 10px 25px 10px 25px;
    -fx-border-color: #1852af;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-color: transparent;
    -fx-text-fill: #1852af;
    -fx-font-size: 3em;
}

.enter-button {
    -fx-padding: 10px 25px 10px 25px;
    -fx-border-color: #1852af;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #1852af;
    -fx-min-width: 700px;
    -fx-font-size: 3em;
}

.balance-label {
    -fx-font-size: 8em;
    -fx-text-fill: #1852af;
    -fx-padding: 25px;
}

.balance-value {
    -fx-font-size: 8em;
    -fx-text-fill: #1852af;
    -fx-font-weight: bold;
    -fx-padding: 25px;
}

.change-password-form-cell {
    -fx-padding: 25px;
    -fx-min-width: 900px;
}

.grid-form-label {
    -fx-font-size: 3em;
    -fx-padding: 15px;
    -fx-text-fill: #1852af;
}
.grid-form-field {
    -fx-font-size: 3em;
    -fx-text-fill: #1852af;
}

.working-label {
    -fx-font-size: 8em;
    -fx-text-fill: #1852af;
    -fx-padding: 25px;
}
.ready-label {
    -fx-font-size: 8em;
    -fx-text-fill: #1852af;
    -fx-padding: 25px;
}